In [136]:
import numpy as np

In [138]:
import pandas as pd

In [140]:
df = pd.read_csv("Crime_Dataset_Coursework1.csv")

/var/folders/k7/ydy64qp95hd058cgvcdl7msc0000gp/T/ipykernel_62451/4083395371.py:1: DtypeWarning: Columns (1,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Crime_Dataset_Coursework1.csv")

# Check for Duplicates

In [142]:
df_dupl = df.duplicated()

In [181]:
df_dupl.value_counts()

False    306094
Name: count, dtype: int64

# Check for missing values

In [146]:
df.isna().sum()

Incident ID                    0
Offence Code                   0
CR Number                      0
Dispatch Date / Time       49029
NIBRS Code                     0
Victims                        0
Crime Name1                  272
Crime Name2                  272
Crime Name3                  272
Police District Name          94
Block Address              26206
City                        1276
State                          0
Zip Code                    3179
Agency                         0
Place                          0
Sector                      1530
Beat                        1530
PRA                          239
Address Number             26109
Street Prefix             292463
Street Name                    1
Street Suffix             300662
Street Type                  339
Start_Date_Time                0
End_Date_Time             161658
Latitude                       0
Longitude                      0
Police District Number         0
Location                       0
dtype: int64

In [148]:
df.dtypes

Incident ID                 int64
Offence Code               object
CR Number                   int64
Dispatch Date / Time       object
NIBRS Code                 object
Victims                     int64
Crime Name1                object
Crime Name2                object
Crime Name3                object
Police District Name       object
Block Address              object
City                       object
State                      object
Zip Code                  float64
Agency                     object
Place                      object
Sector                     object
Beat                       object
PRA                        object
Address Number            float64
Street Prefix              object
Street Name                object
Street Suffix              object
Street Type                object
Start_Date_Time            object
End_Date_Time              object
Latitude                  float64
Longitude                 float64
Police District Number     object
Location                   object
dtype: object

In [150]:
df["Start_Date_Time"].loc[20000]

'07/24/2021 05:27:00 AM'

# Change Data Types to Datetime

In [152]:
df['Dispatch Date / Time'] = pd.to_datetime(df['Dispatch Date / Time'])
df['Start_Date_Time'] = pd.to_datetime(df['Start_Date_Time'])

/var/folders/k7/ydy64qp95hd058cgvcdl7msc0000gp/T/ipykernel_62451/4191208974.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dispatch Date / Time'] = pd.to_datetime(df['Dispatch Date / Time'])
/var/folders/k7/ydy64qp95hd058cgvcdl7msc0000gp/T/ipykernel_62451/4191208974.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Start_Date_Time'] = pd.to_datetime(df['Start_Date_Time'])

In [154]:
df.head(5)

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,NIBRS Code,Victims,Crime Name1,Crime Name2,Crime Name3,Police District Name,...,Street Prefix,Street Name,Street Suffix,Street Type,Start_Date_Time,End_Date_Time,Latitude,Longitude,Police District Number,Location
0,201202980,3550,180042096,2018-08-23 21:52:08,35B,1,Crime Against Society,Drug Equipment Violations,DRUGS - NARCOTIC EQUIP - POSSESS,GERMANTOWN,...,NaN,MIDDLEBROOK,NaN,RD,2018-08-23 21:52:00,NaN,39.177744,-77.265619,5D,"(39.1777, -77.2656)"
1,201181293,3522,180015424,2018-03-30 01:00:55,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - OPIUM OR DERIVATIVE - POSSESS,BETHESDA,...,NaN,WOODMONT,NaN,AVE,2018-03-30 01:01:00,NaN,38.992693,-77.097063,2D,"(38.9927, -77.0971)"
2,201181293,3562,180015424,2018-03-30 01:00:55,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - MARIJUANA - POSSESS,BETHESDA,...,NaN,WOODMONT,NaN,AVE,2018-03-30 01:01:00,NaN,38.992693,-77.097063,2D,"(38.9927, -77.0971)"
3,201193163,3520,180029476,2018-06-14 22:26:45,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - OPIUM OR DERIVATIVE - SELL,MONTGOMERY VILLAGE,...,NaN,QUINCE ORCHARD,NaN,RD,2018-06-14 22:26:00,06/15/2018 03:00:00 AM,39.147954,-77.218189,6D,"(39.148, -77.2182)"
4,201204355,2204,180043926,2018-09-03 12:06:54,220,1,Crime Against Property,Burglary/Breaking and Entering,BURGLARY - NO FORCED ENTRY-RESIDENTIAL,BETHESDA,...,NaN,FALSTONE,NaN,AVE,2018-09-02 23:30:00,09/03/2018 12:30:00 AM,38.966174,-77.096561,2D,"(38.9662, -77.0966)"

# Fill Missing Crime Names with "Other"

In [156]:
df["Crime Name1"] = df["Crime Name1"].fillna("Other")
df["Crime Name2"] = df["Crime Name2"].fillna("Other")
df["Crime Name3"] = df["Crime Name3"].fillna("Other")

In [158]:
df.loc[2023]

Incident ID                                 201362064
Offence Code                                     2611
CR Number                                   220003727
Dispatch Date / Time              2022-01-28 09:54:44
NIBRS Code                                        26G
Victims                                             1
Crime Name1                                     Other
Crime Name2                                     Other
Crime Name3                                     Other
Police District Name                       GERMANTOWN
Block Address               12200 BLK  PEACH CREST DR
City                                       GERMANTOWN
State                                              MD
Zip Code                                      20874.0
Agency                                           MCPD
Place                     Residence - Apartment/Condo
Sector                                              N
Beat                                              5N1
PRA                                               447
Address Number                                12200.0
Street Prefix                                     NaN
Street Name                               PEACH CREST
Street Suffix                                     NaN
Street Type                                        DR
Start_Date_Time                   2022-01-28 09:54:00
End_Date_Time                                     NaN
Latitude                                     39.16079
Longitude                                    -77.2513
Police District Number                             5D
Location                          (39.1608, -77.2513)
Name: 2023, dtype: object

# Replace State Numbers with Abbreviations

In [160]:
state_name  = [np.nan, 'District of Columbia', 'Hawaii' ,'Idaho', 'Illinois', 'Maine', 'Maryland', 'Michigan', 'Mississippi', 'North Dakota', 'Virginia']
state_abb   = [np.nan, 'DC', 'HI', 'ID', 'IL', 'ME', 'MD', 'MC', 'MS', 'ND', 'VA']
state_no    = ['0', '11', '15', '16', '17', '23', '24', '26', '28', '38', '51']


df_states = pd.DataFrame({'State':state_name,
                            'Abbreviation':state_abb,
                            'No':state_no})
df_states = df_states.set_index('State')

def replace_no_with_abb(no):
    df.replace({'State' : no}, df_states.loc[df_states['No'] == no]['Abbreviation'].values[0], inplace=True)

replace_no_with_abb('15')
replace_no_with_abb('16')
replace_no_with_abb('17')
replace_no_with_abb('0')

df["State"].value_counts()

State
MD    305874
ID       185
DC        22
VA         4
MS         2
ME         2
HI         1
ND         1
MC         1
IL         1
Name: count, dtype: int64

# Create New Columns for Day, Month, Year and Hour

In [162]:
#df['Start_Day'] = pd.to_datetime(df["Start_Date_Time"]).dt.day.convert_dtypes()
#df['Start_Month'] = pd.to_datetime(df["Start_Date_Time"]).dt.month.convert_dtypes()
#df['Start_Year'] = pd.to_datetime(df["Start_Date_Time"]).dt.year.convert_dtypes()
#df['Start_Time'] = pd.to_datetime(df["Start_Date_Time"]).dt.hour.convert_dtypes()
#df['Dispatch_Day'] = pd.to_datetime(df["Dispatch Date / Time"]).dt.day.convert_dtypes()
#df['Dispatch_Month'] = pd.to_datetime(df["Dispatch Date / Time"]).dt.month.convert_dtypes()
#df['Dispatch_Year'] = pd.to_datetime(df["Dispatch Date / Time"]).dt.year.convert_dtypes()
#df['Dispatch_Time'] = pd.to_datetime(df["Dispatch Date / Time"]).dt.hour.convert_dtypes()
#df['End_Day'] = pd.to_datetime(df["End_Date_Time"]).dt.day.convert_dtypes()
#df['End_Month'] = pd.to_datetime(df["End_Date_Time"]).dt.month.convert_dtypes()
#df['End_Year'] = pd.to_datetime(df["End_Date_Time"]).dt.year.convert_dtypes()
#df['End_Time'] = pd.to_datetime(df["End_Date_Time"]).dt.hour.convert_dtypes()
#df

In [166]:
df.to_csv("Crime_Dataset_Cleaned.csv", index=False)